<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ApiCipherKey"        value="YUQR15q2zjOo12sGfD+m5VIvBOSon8b7nFB67V9zNy8=" />
    <add key="AdminUsername"       value="cyberhub" />
    <add key="AdminPasswordHash"   value="f+H+ZCfzAebf/riZBw3q8g==:pwF4JfoGg1QlSINZuHzy9IVnsw8Gu4hXi07DwRGY7B4=" />
    <!-- Email switch: set to "true" once the <mailSettings> block below is filled in.
         When "false" or missing, the admin endpoints still return the temp password
         in the JSON body so the operator can hand it over manually. -->
    <add key="EmailEnabled"        value="false" />
    <add key="EmailFromAddress"    value="no-reply@cyberlogic.gr" />
    <!-- Used as the "Portal" line in credential emails. Leave empty to omit. -->
    <add key="AdminPortalUrl"      value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>

  <!--
    SMTP for credential / password-reset emails. Filled-in example below:

      <system.net>
        <mailSettings>
          <smtp from="no-reply@cyberlogic.gr" deliveryMethod="Network">
            <network host="smtp.cyberlogic.gr"
                     port="587"
                     enableSsl="true"
                     userName="no-reply@cyberlogic.gr"
                     password="REPLACE_ME"
                     defaultCredentials="false" />
          </smtp>
        </mailSettings>
      </system.net>

    Once the block above is in place AND <appSettings>EmailEnabled is "true",
    Approve / Create / Reset-password admin endpoints will deliver the temp
    password by email instead of (in addition to) returning it in the JSON
    body. If sending fails for any reason, the body still contains the
    password so the operator can hand it over manually.
  -->
</configuration>
