<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Enable static file serving -->
    <staticContent>
      <mimeType fileExtension=".json" mimeType="application/json" />
      <mimeType fileExtension=".woff" mimeType="application/font-woff" />
      <mimeType fileExtension=".woff2" mimeType="application/font-woff2" />
      <mimeType fileExtension=".ttf" mimeType="application/octet-stream" />
      <mimeType fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>

    <!-- Compression for text-based files -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <staticTypes>
        <add mimeType="text/html" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/plain" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- Security headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>

    <!-- Default documents -->
    <defaultDocument>
      <files>
        <add value="index.html" />
        <add value="DocumentationLogin.html" />
        <add value="SupplierAdminLogin.html" />
      </files>
    </defaultDocument>

    <!-- URL rewrite - redirect /interactive-test to index.html for SPA routing -->
    <rewrite>
      <rules>
        <rule name="SPA-Redirect" stopProcessing="true">
          <match url="^(?!.*\.(js|css|png|jpg|jpeg|gif|svg|woff|woff2|ttf|eot|html)$).*$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
